[files]
history_output_dir = ./history-files/
history_statefile = rocketchat-history-statefile.pkl

[rc-api]

; auth = token to use X-Auth-UserId (put in 'user' field)
; and X-Auth-Token (put in 'pass' field) instead of 
; classic username / password combination.
; Set to anything else (or delete completely) to get
; classic username / password behavior.

auth = token 
; auth = classic

user = username_goes_here
pass = pwd_goes_here

server = https://demo.rocket.chat
max_msg_count_per_day = 99999

pause_seconds = 1
